<!DOCTYPE html>
<html lang="en">
        <script>
                function Function() {
                    var oldpasswprd = document.getElementById('oldPassword').value;
                    var newpassword = document.getElementById('newPassword').value;
                    var confirmpassword = document.getElementById('confirmPassword').value;
                    if (oldPassword == "" || newpassword == "" || confirmpassword == "") {
                        alert('Please fill all the details');
                    }
                    else if (oldpasswprd == newpassword) {
                        alert("Old password and New Password cannot be same");
                    }
                    else if (newpassword != confirmpassword) {
                        alert("password mismatch");
                    }
                }
            
        </script>    





<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>


    

    
</head>
<body>

        <form role="form" method="post">
            old password:<br>
            <input type="text" name="" value="" id="oldPassword">
            <br>
            new password:<br>
            <input type="text" name="" value="" id="newPassword">
            <br><br>
            <button type="button" name="Submit" value="Save" class="btn btn-danger" onclick="Function();"><i class="livicon" data-n="pen" data-s="16" data-c="#fff" data-hc="0" "></i> Save</button>
          </form> 

          



    
</body>
</html>