<!DOCTYPE html>
<html>
<head>
	<title>About us</title>
	<link rel="stylesheet" type="text/css" href="/static/aboutus.css">
</head>
<body>
        <nav>
                <ul>
                                <li><a href="/firstpagenew">Home</a></li>

                                <li><a href="/Dashboard">Dashboard</a></li>

                                <li><a href="/ContactUs">Contact Us</a></li>
                                <li><a href="/AboutUs">About Us</a></li>
                                <li><a href="/feedback">Feedback</a></li>			
                                {% if user.is_authenticated %}
                                
                                <li><a href="/Logout">Logout</a></li>
                                <li><a href="/main">Main</a></li>
                                {% else %}
                                <li><a href="/Login">Login</a></li>
                                <li><a href="/Register">Register</a></li>
                                
                                {% endif %}

                        <!-- <li><b><a href="#">Dashboard</a></b></li> -->
                </ul>
                </nav>
	<div class="team-section">
	<h1>Our Team</h1>
	<span class="border"></span>
	<div class="ps">
	<a href="#p1"><img src="/static/AK.jpeg" alt=""></a>
	<a href="#p2"><img src="/static/taxi.jpg" alt=""></a>
	<a href="#p3"><img src="/static/taxi.jpg" alt=""></a>
	<a href="#p4"><img src="/static/taxi.jpg" alt=""></a>
	</div>



        <div class="section" id="p1">
                <span class="name">Akash Kamble</span>
                <span class="border"></span>
                <span class="name">T shape devoloper</span>
                
                
        </div>



        <div class="section" id="p2">
                <span class="name">Parvej Inamdar</span>
                <span class="border"></span>
                <span class="name">Front-end devoloper</span>
                
                
        </div>

        <div class="section" id="p3">
                <span class="name">Amarjeet Ghongade</span>
                <span class="border"></span>
                <span class="name">Front-end devoloper</span>
                
                
        </div>


        <div class="section" id="p4">
                <span class="name">Versha Shirke</span>
                <span class="border"></span>
                <span class="name">Tester</span>
                
                
        </div>
</body>
</html>
