<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Input</title>
    <link rel="stylesheet" href="/static/forgot.css">
  </head>
  <body>
    <nav>
      <ul>
      <li><a href="/firstpagenew">Home</a></li>
      
      <li><a href="/ContactUs">Contact Us</a></li>
      <li><a href="/AboutUs">About Us</a></li>		
      {% if user.is_authenticated %}
      
      <li><a href="/Logout">Logout</a></li>
      <li><a href="/main">Main</a></li>
      {% else %}
      <li><a href="/Login">Login</a></li>
      <li><a href="/Register">Register</a></li>
      
      {% endif %}

      <!-- <li><b><a href="#">Dashboard</a></b></li> -->
    </ul>
</nav>
     <div class="box">
     
     <form method="POST" action="/forgotpassword">
       {% csrf_token %}
       <label>
          <div>	
              {% for mes1 in messages %}
              <h3>
                <p style="text-align: center"><font color="white">{{mes1}}</font></p>
              </h3>
              {% endfor %}
               </div>
      </label>
  
	  <div class="inputbox">
	<input type="text" name="uname" required="" placeholder="Enter Username" id="uname">
       </div>
       <div class="inputbox">
	<input type="text" name="npassword" required="" placeholder="Enter New Password" id="npassword">
       </div>
       <div class="inputbox">
        <input type="text" name="cpassword" required="" placeholder="Confirm Password" id="cpassword">
       </div>
       <input type="submit" name="" value="Submit">
      
     </form>
    </div>
   </body>
</html> 