<!DOCTYPE html>
<html>
<head>
	<title>Page Title</title>
	<link rel="stylesheet" type="text/css" href="index/index.css">

</head>
<body>
		<nav>
			<ul>
				<li><b><a href="home.html">Home</a></b></li>
				<li><b><a href="login.html">Login</a></b></li>
				<li><b><a href="aboutus.html">About us</a></b></li>
				<li><b><a href="contact.html">Contact us</a></b></li>
				<li><b><a href="#">Dashboard</a></b></li>
			</ul>
			</nav>
	<div class="wrap">
	<h2>Register Here</h2>
	<form>
	   <input type="text" placeholder="Your Name">
	   <input type="text" placeholder="Your Email">
	   <input type="text" placeholder="Your Username">
	   <input type="Password" placeholder="Your Password">
	   
	   <input type="checkbox"><h6>Accepting the terms and conditions.</h6>
	   <input type="submit" value="Sign up">
	   <h6><b><i>Already Account?</i></b></h6>
	   <a class="txt1" href="login.html">
							login here.
						</a>
	</form>
	</div>


</body>
</html>
