
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
	<link rel="stylesheet" type="text/css" href="/static/reg/index.css">
	<style>                       
			div.sticky {
			  position: -webkit-sticky;
			  position: sticky;
			  top: 0;
			  
			  
			  
			}
	</style>
	
</head>
<body>
<div class="sticky">    
	<nav>
			<ul>
					<li><a href="/firstpagenew">Home</a></li>
					<li><a href="/Register">Register</a></li>
					<li><a href="/Dashboard">Dashboard</a></li>
					<li><a href="/ContactUs">Contact Us</a></li>
					<li><a href="/AboutUs">About Us</a></li>
					<li><a href="/feedback">Feedback</a></li>			
					{% if user.is_authenticated %}
					
					<li><a href="/Logout">Logout</a></li>
					<li><a href="/main">Main</a></li>
					{% else %}
					<li><a href="/Login">Login</a></li>
					
					{% endif %}
  
				<!-- <li><b><a href="#">Dashboard</a></b></li> -->
			</ul>
			</nav>
</div>
			 <br>
			 <br>
			<label>
				<div>	
						{% for mes1 in messages %}
						<h3>
							<p style="text-align: center"><font color="white">{{mes1}}</font></p>
						</h3>
						{% endfor %}
					   </div>
		</label>



	<div class="wrap">
	<h2>Register Here</h2>
	<form action="Register" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="Your Name" name="first_name" required="" autofocus="">
	<input type="text" placeholder="Your Email" name="email" required="">
	
	
	<input type="text" placeholder="Your Username" name="username"required="">

	<div>

	   <input type="Password" placeholder="Your Password" name="password"required="">
	   <input type="checkbox"><h6>Accepting the terms and conditions.</h6>
	   <input type="submit" value="Sign up">
	   <h6><b><i>Already Account?</i></b></h6>
	   <a href="Login.html">
			<font color="#F1C40F" >login here.</font>
						</a>
						
	</form>

	

	
	</div>
	


</body>
</html>